*{
    margin: 0;
    box-sizing: border-box; 
    /* for preceise heigt and padding */
}
body{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    background-color: rgba(203, 209, 214, 0.336);
    margin-top: 70px;
    overflow-x: hidden;
    padding-left: 80px;
    

}
header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
    height: 70px;
    z-index: 100;
}

.headerimg{
    width: 30px;
}

.yt-logo{
    width: 100px;
}

.left-side{
    margin-left: 20px;
    width: 150px;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    
}

.middle-side input{
    height: 40px;
    width: 0px;
    flex: 1;
    padding: 10px;
    font-size: 18px;
    box-shadow: inset 0px 1px 3px grey;
    border: 1px solid grey;
    
    
}
.middle-side input:focus{
    border: 1px solid rgb(132, 132, 168);
    outline: none;
}

.middle-side input::placeholder{
font-size: 18px;
}

.middle-side .search-button{
    border: 1px solid grey;
    height: 40px;
    padding: 5px;
}

.middle-side .search{
    margin-left: -1px;
}

.search,.voice-search{
    height: 40px;
}

.upload,.app,.notification,.profile{
    height: 40px;
}

.mic-button{
    width: 40px;
    margin-left: 20px;
    height: 40px;
    padding: 2px;
    border-radius: 20px;
    border: none;
}

.middle-side{
    display: flex;
    align-items: center;
    max-width: 470px;
    flex: 1;
    margin: 0px 30px;
}

.profilePic{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.right-side{
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-shrink: 0;
}

.tooltip{
    position: absolute;
    background-color: grey;
    font-size: 15px;
    color: white;
    padding: 5px 8px;
    bottom: -35px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.20s;
    /* this property will cancel the hover over this element */
    white-space: nowrap;
    
}
.upload,.app,.notification,.profile,.voice-search,.search{
    position: relative;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload:hover .tooltip,
.app:hover .tooltip,
.notification:hover .tooltip,
.profile:hover .tooltip,
.voice-search:hover .tooltip,
.search:hover .tooltip{
    opacity: 1;
}

.thumnail{
    width: 100%;
    position: relative;
    margin-bottom: 10px;
    
}

.thumnailImage{
    width: 100%;
}

.vidLength{
    background-color: black;
    color: white;
    font-size: 12px;
    position: absolute;
    padding: 2px;
    bottom: 10px;
    right: 6px;
}
.ChannelProfile{
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: top;
    
}

.ChannelImg{
    width: 70%;
    object-fit: cover;
    border-radius: 25px;

}

.video-title{
    width: 250px;
    display: inline-block;
}
.video-title p:first-child{
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 10px;
}

.video-title p:not(:first-child) {
    color: gray;
    font-size: 13px;
    line-height: 20px;

}
.video-description{
    width: 250px;
    display: grid;
    grid-template-columns: 50px 200px;
    gap: 10px;
    padding: 5px;
}



.mainarea{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    column-gap: 8px;
    row-gap: 16px;
    padding: 20px;
    

}
@media (max-width:630px){
    .mainarea{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
        column-gap: 8px;
        row-gap: 16px;
        padding: 20px;
    }
    .thumnail{
        width: 100%;
        position: relative;
        margin-bottom: 10px;
        
    }
    
    .thumnailImage{
        width: 100%;
    }
    .video-title{
        width: 455px;
        display: inline-block;
    
}
}


.icons{
    width: 30px;
    height: 30px;

}

.sidebar{
    position: fixed;
    width: 90px;
    left: 0px;
    top: 70px;
    bottom: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    
}

.side-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 100%;
    

}

.side-nav:hover{
    background-color: rgb(188, 187, 187);
}

.side-nav div{
    font-size: 12px;
    color: gray;

}






